.filter  h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.filter-1{
    margin-bottom: 20px;
    
}
.filter-1 h4{
    font-size: 25px;
    margin-bottom: 10px;

}
.filter-2 label{
   margin-left: 10px;
}