.product-list{
    /* border:1px solid red; */
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    text-align: center;
    background-color: white;
}

.product-list div{
    /* padding: 20px; */
    margin-top: 10px;
    cursor: pointer;
   
   
}
.product-list:hover{
    transform: scale(0.90);
    border: 2px solid  rgba(229, 19, 156, 0.918) !important;
    transition: all 0.8s ease;
    box-shadow:  rgba(229, 19, 156, 0.918) 0px 10px 40px -12px;
    
}
.button-product{
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;  
    background-color: teal; 
    color: white;
}
.product-list h3{
    font-size: 18px;
    font-weight: bold;
}
.product-list img{
    background: wheat;
    
}