.bigs{
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
}
.smalls{
  display: none;
}
.checktab{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(2,150px);
  gap: 20px;
}
@media screen and (max-width:780px){
 .bigs{
  display: none;
 }
 .smalls{
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
 }
 .checktab{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,150px);
  gap: 20px;
 }
}
.mitem:hover{
   background-color: antiquewhite;
}
.lgb:hover{
    color: black;
}
@media screen and (max-width:450px){
  .checktab{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,150px);
    gap: 20px;
   }
}
@media screen and (max-width:300px){
  .checktab{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,150px);
    gap: 20px;
   }
}
.btnhv:hover{
   color: honeydew;
   -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12);
  transition: 1s ease-in-out;
}
